@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}


#header{ 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 4em;
  background: #E3E6F3;
  box-shadow: 0 1em 3em rgba(0, 0, 0, 0.06);
  z-index: index 900;
  position: sticky;
  top: 0;
  left: 0;
}
.logo {
    width: 4em; 
    height: 4em; 
}
/* Modifier la barre de haut ( les pages)*/
#navbar{
  display: flex;
  align-self: center;
  justify-content: center;
}

/* eliminer les styles de la barre*/
#navbar li{ 
  list-style:none;
  padding: 0 20px;
  position: relative;
}

/* modifier l'écriture de la barre*/
#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a ;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{ 
  content:"" ;
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;

}


/* mettre les images dans une ligne ..................................*/
#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

img {
    width: 4empx; 
  height: 4em; 
}
/* l'image.............................................................*/
#feature .fe-box{
  width:180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
/*convertir l'image en responsive........................*/
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

/* colorer le titre de l'image ................................... */
#feature .fe-box h6 {
  display: inline-block;
  padding:9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #ccd7e3;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}
